* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}

#background {
    padding: 10px;
    border: 2px solid Black;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#header {
    text-align: center;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;

}

#content-section {
    padding: 10px;
    border: 2px solid black;
    display: flex;
    height: 100%;

}

#notes-section {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 70%;
}

#notes-preview-section {
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    width: 30%;
}